html {
    scroll-behavior: smooth;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: rgb(255, 255, 255);
}

.allPage{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}



a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

ul{
    display: flex;
}

button {
    width: max-content;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 10%;
    padding: .8rem 1rem;
    cursor: pointer;
}

button:hover {
    color: rgb(255, 250, 250);
    background: rgb(54, 46, 46);
    transition: all ease-in-out .3s;
}



.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.nav__menu>ul>li {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.nav__menu>ul>li:not(:first-child) {
    margin-left: 2rem;
}


.nav__menu>ul>li>a:hover {
    transition: all .2s ease-in;
    color: rgb(193, 193, 193);
}

.nav__menu>.navSocial>button:nth-child(2) {
    margin-left: 2rem;
}


.logo {
    font-weight: bold;
    font-size: 2.4rem;
}


.home {
    display: flex;
    height: 85vh;
    background-color: #ff014f;
}


.homeLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 1.2rem;
}

.homeLeft>h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 5rem;
    letter-spacing: .2rem;
    margin: 0;
}

.homeRight {
    width: 50%;
}

.homeRight>.homePhoto {
    width: 98%;
    object-fit: cover;
}

.socials {
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
}

.socials a {
    color: black;
    background-color: white;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .2s ease-in-out;

}

.socials a:hover:nth-child(1) {
    color: rgb(232, 3, 114);
    background-color: white;

}

.socials a:hover:nth-child(2) {
    color: rgb(1, 16, 187);
    background-color: white;

}

.socials a:hover:nth-child(3) {
    color: red;
    background-color: white;
}

.socials a:hover:nth-child(4) {
    color: rgb(0, 153, 255);
    background-color: white;

}

.nav-toggle {
    display: none;
}


@media screen and (max-width:1023px) {


    body {
        width: 100%;
    }

    .nav-close,
    .nav-toggle {
      position: absolute;
      top: 35px;
      right: 20px;
      color: #ff014f;
      display: block;
      font-size: 25px;
      z-index: 999;
    }

    .nav-menu {
        position: absolute;
        display: block;
        box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        left: 0;
        top: 0;
        transition: all 0.5s ease-in-out;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 888;
    }

    .nav-list {
        transition: all .5s ease;
        transform: translateX(-100%);
        display: block;
        position: absolute;
        height: 50%;
        left: -100%;
        top: 0;
    }

}